USE [Test]
GO
/****** Object:  Table [dbo].[cert]    Script Date: 7/29/2025 3:23:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cert](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[qty] [int] NOT NULL,
 CONSTRAINT [PK_cert] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 7/29/2025 3:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[store]    Script Date: 7/29/2025 3:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[store](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[products_id] [int] NOT NULL,
	[storename] [nvarchar](50) NOT NULL,
	[qty] [int] NOT NULL,
 CONSTRAINT [PK_store] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [code], [name], [price]) VALUES (1, N'PROD001', N'ไก่เผ็ด', CAST(20.00 AS Decimal(18, 2)))
INSERT [dbo].[products] ([id], [code], [name], [price]) VALUES (2, N'PROD002', N'หมูบด', CAST(50.00 AS Decimal(18, 2)))
INSERT [dbo].[products] ([id], [code], [name], [price]) VALUES (3, N'PROD003', N'หมูย่าง', CAST(12.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[store] ON 

INSERT [dbo].[store] ([id], [products_id], [storename], [qty]) VALUES (1, 1, N'A', 43)
INSERT [dbo].[store] ([id], [products_id], [storename], [qty]) VALUES (2, 2, N'B', 83)
INSERT [dbo].[store] ([id], [products_id], [storename], [qty]) VALUES (3, 3, N'C', 40)
SET IDENTITY_INSERT [dbo].[store] OFF
GO
